.main {
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

img {
    margin: 1px;
}

.metaInfo {
    vertical-align: bottom;
    /*color: darkgreen;*/
    /*display: inline;*/
    /*margin: 20px;*/
}

.metaInfo > a:hover {
    text-decoration: none;
}

.avatar {
    width: 64px;
    height: 64px;
}

.post-text {
    display: inline;
    vertical-align: bottom;
}

.right-side {
    float: right;
}

.padding-top-20 {
    padding-top: 20px;
}