<div class="form-group">
    <label for="group-select">Выбор группы</label>
    <select id="group-select" class="form-control" ng-model="data.selectedOption"
            ng-options="option.name disable when option.disabled for option in data.availableOptions track by option.id"
            ng-change="update(data.selectedOption)">
    </select>
</div>
<div class="form-group">
    <!--<a class="btn btn-primary" ng-href="#!/{{-data.selectedOption.id}}">Список постов</a>-->
    <!--<a class="btn btn-primary disabled" ng-href="{{contextPath}}/#/{{data.selectedOption.id}}/one-post">Репост по-->
        <!--ссылке</a>-->
    <a class="btn btn-primary" ng-href="#!{{-data.selectedOption.id}}/search">Поиск по постам</a>
</div>