<div class="content padding-top-20">
    <div id="messagesDataTable" class="container-fluid">
        <div class="message" ng-repeat="message in messages">
            <label>Запись от {{message.date | date : 'dd.MM.y h:mm:ss'}}</label>
            <div class="row">
                <div class="col-md-8">
                    <a target="_blank" ng-href="https://vk.com/{{getOwner(message.from_id).link}}">
                        <img class="avatar" ng-src="{{getOwner(message.from_id).photo}}" />{{getOwner(message.from_id).name}}
                    </a>
                    <div class="post-text" >{{message.text}}</div>
                    <img ng-src="{{getAttachPreview(attach)}}" ng-repeat="attach in message.attachments" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button class="btn btn-warning right-side" ng-click="repostMessage(message)">Repost</button>
                </div>
            </div>
        </div>
    </div>

</div>