<div class="content padding-top-20">
    <div id="messagesDataTable" class="container-fluid">
        <h2>Список постов</h2>
        <div class="message" ng-repeat="message in messages">
            <label>Запись от {{message.date | date : 'dd.MM.y h:mm:ss'}}</label>
            <div class="row">
                <!--<a target="_blank" ng-href="https://vk.com/{{getOwner(message).link}}">-->
                    <img class="avatar" ng-src="{{message.photo}}"/>{{message.name}}
                <!--</a>-->
                <div class="post-text">{{formatMessage(message.text)}}</div>
            </div>
            <div class="row" ng-if="message.attachments != undefined">
                <br/>
                <div ng-repeat="attachment in message.attachments">
                    <img ng-src="{{attachment.photo.src}}"/>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-warning right-side" ng-click="repostMessage(message)">Repost</button>
            </div>
            <hr/>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="loadMessages()">Больше</button>
        </div>
    </div>

</div>